{
  "ApiFunction": {
    "ENVIRONMENT": "dev",
    "API_STAGE": "",
    "DATABASE_URL": "postgresql+psycopg2://postgres:password@host.docker.internal:5432/finance_mgmt",
    "DB_SECRET_ARN": "",
    "COGNITO_USER_POOL_ID": ""
  }
}
